/*STYLE CSS PEIXES E PLANTAS */
body{
    background-image: url(teste2.jfif);
    background-size: 100%;
    margin: 1cm;
}
*{
    font-family: Verdana;
}
/*Voce esta em: Home */
header{
    background-color: #5cc4ec;
    padding: 2px;
    border-radius: 35px;
    margin-right: 85%;
}
/*style menu  */
nav{
    background-color:#5cc4ec;
    padding: 10px;
    border-radius: 2px;
    text-align-last: center;
    word-spacing: 10mm;
    font-size: 5mm;

}
/*style menu  */
nav>a{ color: #111010;
    text-decoration:none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    word-spacing: 5cm;
  
}
.nav-link:hover{
    color: #e6ebee
}

/* moldura para a Imagem */
figure{
    /* espaÃ§o entre o conteudo da imagem e a boorda / color / border */
    text-align-last: center;
    width: 290px;
    padding: 19px 200px 19px;
}
/* centralizando a imagem junto com a moldura  */
#principal{
    text-align: center;
    width: 800px;
    margin: 0 auto;
}
p{
    color: rgb(0, 0, 0);
    
}

figcaption{
    color: rgb(248, 248, 248);
    font-size: 5mm;
}
/*FOOTER*/
.rodape{
    position: relative;
    padding: 30px;
    background-image: url(bolhas.jpg);
    background-size: 100%;
    font-size: small;
    padding: 30px;
    height: 110px;
}

.rodape-secao{
    display: inline-table;
    width: 32%;
    min-width: 200px;
    color: rgb(0, 0, 0);
    margin-top: 0%;
}

